/*
 * Color palette used accross all projects
 * https://scene.zeplin.io/project/57f513c7af0417be1a060aae
 */

:root {
  --background-grey: #f6f6f6;
  --black: #000000;
  --black-soft: #1b1b1b;
  --blueberry-blue-dark1: #025194;
  --blueberry-blue-dark2: #024176;
  --blueberry-blue-dark3: #013159;
  --blueberry-blue-dark4: #012645;
  --blueberry-blue-dark5: #011c33;
  --blueberry-blue-light1: #4995d5;
  --blueberry-blue-light2: #8bbce5;
  --blueberry-blue-light3: #b9d6ef;
  --blueberry-blue-light4: #d6e7f6;
  --blueberry-blue-light5: #e8f2fa;
  --blueberry-blue: #036cc5;
  --cobalt-yellow-dark0: #ebe18d;
  --cobalt-yellow-dark1: #595100;
  --cobalt-yellow-dark2: #2e2a00;
  --cobalt-yellow-light1: #fff489;
  --cobalt-yellow-light2: #fffac1;
  --cobalt-yellow-light3: #fffce0;
  --cobalt-yellow: #ffe900;
  --dark-grey: #474747;
  --deep-magenta-dark1: #94007d;
  --deep-magenta-dark2: #70005e;
  --deep-magenta-dark3: #5a004c;
  --deep-magenta-dark4: #430638;
  --deep-magenta-dark5: #350a2d;
  --deep-magenta-light1: #ea5bcb;
  --deep-magenta-light2: #f492db;
  --deep-magenta-light3: #fabeea;
  --deep-magenta-light4: #fedaf2;
  --deep-magenta-light5: #ffecf9;
  --deep-magenta: #d000af;
  --grey: #d6d6d6;
  --highlight-grey: #939393;
  --intense-orange-dark1: #b34015;
  --intense-orange-dark2: #823214;
  --intense-orange-dark3: #652a12;
  --intense-orange-dark4: #4c2110;
  --intense-orange-dark5: #371a0c;
  --intense-orange-light1: #ff8350;
  --intense-orange-light2: #ffa57b;
  --intense-orange-light3: #ffc2a4;
  --intense-orange-light4: #ffdbc7;
  --intense-orange-light5: #ffebdf;
  --intense-orange: #ff5412;
  --light-grey: #e7e7e7;
  --light-grey2: #ebebeb;
  --light-grey3: #9b9b9b;
  --light-grey4: #fafafa;
  --sky-blue-dark1: #007dad;
  --sky-blue-dark2: #005a7d;
  --sky-blue-dark3: #00425c;
  --sky-blue-dark4: #003042;
  --sky-blue-dark5: #002330;
  --sky-blue-light0: #66b0c1;
  --sky-blue-light1: #66d4ff;
  --sky-blue-light2: #99e3ff;
  --sky-blue-light3: #bdedff;
  --sky-blue-light4: #d4f3ff;
  --sky-blue-light5: #e5f8ff;
  --sky-blue: #00b8ff;
  --teal-dark1: #0b5061;
  --teal-dark1-accent: #007C97;
  --teal-dark1-accent-50percent: rgba(0, 124, 151, .05);
  --teal-dark2: #093f4c;
  --teal-dark3: #07323d;
  --teal-dark4: #062931;
  --teal-dark5: #052127;
  --teal-light1: #478c9d;
  --teal-light2: #77aab6;
  --teal-light3: #a4c6ce;
  --teal-light4: #c6dbe0;
  --teal-light5: #dbe9ec;
  --teal: #14697f;
  --vibrant-green-dark1: #157917;
  --vibrant-green-dark2: #105c11;
  --vibrant-green-dark3: #0d4c0e;
  --vibrant-green-dark4: #0a380a;
  --vibrant-green-dark5: #072a08;
  --vibrant-green-light1: #68cc69;
  --vibrant-green-light2: #96dc97;
  --vibrant-green-light3: #c1eac1;
  --vibrant-green-light4: #d9f2da;
  --vibrant-green-light5: #eef9ee;
  --vibrant-green: #20b422;
  --warning-red-dark1: #8b0017;
  --warning-red-dark2: #4b0a0f;
  --warning-red-light1: #ffa49f;
  --warning-red-light2: #ffe3dd;
  --warning-red: #ff002d;
  --white: #ffffff;
}
